<section id="home">
    <div id="lp_bg">
        <div class="col-sm-4 col-sm-offset-1 col-xs-12">
            <div class="text-center" style="padding-top: 150px;">
            <h1>これからの民泊収益化システム</h1>
            <p style="color: #333;">
                民泊・ホテル・旅館事業者向け！宿泊予約サイトへの自動登録・物件の予約・メッセージ・売上情報を一元管理！ 
            </p>

                <a href="#presignup" class="btn btn-custom", style= 'width: 155px;'>まずは無料相談</a>



                <%= link_to '事前登録する', '#presignup', class: 'btn btn-custom', style: 'width: 155px;' %>


        </div>
    </div>
</div>


    <!-- <div class="social_proof_container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" style="margin-bottom: 30px;">
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="social_proof_box">
                <%= image_tag 'airbnb_logo.png', class: 'affiliate_logos' %>
                <h3 class="text-center">- airbnb -</h3>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="social_proof_box">
                <%= image_tag 'homeaway.png', class: 'affiliate_logos' %>
                <h3 class="text-center">- Home Away -</h3>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="social_proof_box">
                <%= image_tag 'zizaike.png', class: 'affiliate_logos' %>
                <h3 class="text-center">- 自在客 -</h3>
            </div>
          </div>
        </div>          
      </div>
    </div> -->

<section class="section" id="services" style="padding-bottom: 50px;">
    <div class="container-fluid">
    
        <div class="row" style="border-bottom: 1px solid whitesmoke;">
            <div class="col-xs-12">
                <h1 class="text-center">All in Bnbの魅力</h1>
                <p class="text-center">
                    All in BnBでは、不動産会社、個人オーナー様向けに、民泊仲介サイトでの物件管理を一元化するサービスを提供しています。<br>
                    ツールを利用することで、複数の民泊仲介サイトへ物件を自動掲載したり管理業務を一つにまとめられるため、<br>業務効率化・物件パフォーマンスの最大化へとご活用いただきたいと考えています。
                </p>
            </div>
            <div class="col-xs-12">
                <%= image_tag 'lp_1.png', class: 'img-responsive', style: 'margin: 0 auto;' %>
            </div>
        </div>

        <div class="description" style="margin-top: 50px;">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-1 col-md-push-6">
                    <h1>自動登録</h1>
                    <p>
                        ツールと連携している民泊仲介サイトにあなたの物件を自動登録！<br>
                        新しくリスティングを開始する際の手間がかかりません。
                    </p>
                </div>
                <div class="col-xs-12 col-md-5 col-md-pull-6">
                    <%= image_tag 'lp_4.png', class: 'img-responsive' %>
                </div>
            </div>
        </div>

        <div class="description">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-1">
                    <h1>予約管理</h1>
                    <p>
                        連携している民泊仲介サイトから自動で物件情報を取得することで、リアルタイムで予約・収益状況を一元管理！<br>
                        カレンダーのブロックや価格調節などの運用業務を自動化！
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-1">
                    <%= image_tag 'lp_3.png', class: 'img-responsive' %>
                </div>
            </div>
        </div>

        <div class="description">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-1 col-md-push-5">
                    <h1>メッセージ管理</h1>
                    <p>
                        複数の民泊仲介サイトや複数アカウントに分散しているメッセージを一元管理！<br>
                        レビューの低下に大きく響く「返信忘れ」を防ぐことができます。
                    </p>
                </div>
                <div class="col-xs-12 col-md-5 col-md-pull-6">
                    <%= image_tag 'lp_2.png', class: 'img-responsive' %>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section class="section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <h2 class="text-center" style="font-weight: 600;">サービス概要</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-sm-4">
                <div class="features-box features-box-fill text-center">
                    <div class="feature-icon">
                        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                    </div>
                    <h3>自動登録</h3>

                    <p class="text-muted">提携している提携している複数媒体にあなたの物件を自動登録！リスティングを開始する際の手間がかからない。</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box features-box-fill text-center">
                    <div class="feature-icon">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </div>
                    <h3>予約管理</h3>

                    <p class="text-muted">複数媒体での予約・収益状況が一元化され、一目で確認できるチャート分析！当日のチェックイン数、チェックアウト数が表示され、毎日の作業が一目瞭然！</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box features-box-fill text-center">
                    <div class="feature-icon">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </div>
                    <h3>メッセージ管理</h3>

                    <p class="text-muted">複数の媒体やアカウントに分散されたメッセージを物件ごとに一元管理が可能！</p>
                </div>
            </div>
        </div>

    </div>
</section> -->

<!-- 
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <img src="images/ipad.png" class="img-responsive">
            </div>
        </div>
    </div>
</section> -->


<!--  <section class="section bg-white" id="works">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="title">Featured Projects</h2>
                <p class="title-alt">Looks beautiful & ultra-sharp on Retina Screen Displays. Retina Icons, Fonts & all <br/> others graphics are optimized.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
              <div class="gal-detail thumb text-center">
                  <img src="images/works/1.jpg" class="thumb-img" alt="work-thumbnail">
                  <h4><a href="#">Creative Agency</a></h4>
                  <p><b>Web Design</b></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="gal-detail thumb text-center">
                  <img src="images/works/2.jpg" class="thumb-img" alt="work-thumbnail">
                  <h4><a href="#">Sale Cards</a></h4>
                  <p><b>Web Design</b></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="gal-detail thumb text-center">
                  <img src="images/works/3.jpg" class="thumb-img" alt="work-thumbnail">
                  <h4><a href="#">Play Optics</a></h4>
                  <p><b>Web Design</b></p>
              </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-4">
              <div class="gal-detail thumb text-center">
                  <img src="images/works/4.jpg" class="thumb-img" alt="work-thumbnail">
                  <h4><a href="#">Creative Agency</a></h4>
                  <p><b>Web Design</b></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="gal-detail thumb text-center">
                  <img src="images/works/5.jpg" class="thumb-img" alt="work-thumbnail">
                  <h4><a href="#">Sale Cards</a></h4>
                  <p><b>Web Design</b></p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="gal-detail thumb text-center">
                  <img src="images/works/6.jpg" class="thumb-img" alt="work-thumbnail">
                  <h4><a href="#">Play Optics</a></h4>
                  <p><b>Web Design</b></p>
              </div>
            </div>

        </div>
        
    </div>
</section>
-->

<section class="section" id="pricing" style="background: #f7f7f7;">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="title">料金システム</h2>
                <!-- <p class="title-alt"></p> -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">

                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-6 col-md-6">
                        <div class="inner-box">
                            <div class="plan-header text-center">
                                <h3 class="plan-title">ツール提供</h3>
                                <h2 class="plan-price">無料（β版）</h2>
                                <div class="plan-duration">β版を無料でお試しいただけます。ご希望の方は是非お問い合わせ下さい。</div>
                            </div>
                            <!-- <ul class="plan-stats list-unstyled">
                                <li> <i class="pe-7s-server"></i>10 GB Storege</li>
                                <li> <i class="pe-7s-graph"></i>500 GB Bandwidth</li>
                                <li> <i class="pe-7s-mail-open"></i>Email Support</li>
                                <li> <i class="pe-7s-tools"></i>24x7 Support</li>
                            </ul> -->

                            <div class="text-center">
                                <a href="#presignup" class="btn btn-sm btn-custom">問い合わせ</a>
                            </div>
                        </div>
                    </article>

                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-6 col-md-6">
                        <div class="inner-box">
                            <div class="plan-header text-center">
                                <h3 class="plan-title">プロジェクトマネジメント</h3>
                                <h2 class="plan-price">応相談</h2>
                                <div class="plan-duration">物件に合わせて新規開発の企画支援からリノベーション・インテリアコーディネート・物件の完全運用代行まで行っております。</div>
                            </div>
                            <!-- <ul class="plan-stats list-unstyled">
                                <li> <i class="pe-7s-server"></i>10 GB Storege</li>
                                <li> <i class="pe-7s-graph"></i>500 GB Bandwidth</li>
                                <li> <i class="pe-7s-mail-open"></i>Email Support</li>
                                <li> <i class="pe-7s-tools"></i>24x7 Support</li>
                            </ul>
-->
                            <div class="text-center">
                                <a href="#presignup" class="btn btn-sm btn-custom">問い合わせ</a>
                            </div>
                        </div>
                    </article>

                    <!--Pricing Column-->
                    <!-- <article class="pricing-column col-lg-4 col-md-4">
                        <div class="inner-box">
                            <div class="plan-header text-center">
                                <h3 class="plan-title">Developer</h3>
                                <h2 class="plan-price">$39</h2>
                                <div class="plan-duration">Per Month</div>
                            </div>
                            <ul class="plan-stats list-unstyled">
                                <li> <i class="pe-7s-server"></i>10 GB Storege</li>
                                <li> <i class="pe-7s-graph"></i>500 GB Bandwidth</li>
                                <li> <i class="pe-7s-mail-open"></i>Email Support</li>
                                <li> <i class="pe-7s-tools"></i>24x7 Support</li>
                            </ul>

                            <div class="text-center">
                                <a href="#" class="btn btn-sm btn-dark">Signup Now</a>
                            </div>
                        </div>
                    </article> -->

                    <%= link_to 'まずは無料相談', '#presignup', class: 'btn btn-custom btn-lg', style: 'margin: 0 auto; display: table;' %>
                </div>
            </div><!-- end col -->
        </div>
    </div>
</section>



<!-- 
<section class="section bg-white padding-b-0" id="clients">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title">お客様の声</h2>
                <p class="slogan"></p>
                <ul class="list-inline client-list">
                </ul>
            </div>
        </div>
    </div>
</section>
-->


<!-- <section class="section bg-white" id="team">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="title">Our People</h2>
                <p class="title-alt">Looks beautiful & ultra-sharp on Retina Screen Displays. Retina Icons, Fonts & all <br/> others graphics are optimized.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="team-box text-center">
                    <img src="images/team/team-1.jpg" class="img-responsive center-block img-circle">

                    <h4>Shawn Castleman </h4>
                    <p>Founder</p>
                    <ul class="list-inline footer-social-one team-member-social m-b-0">
                        <li><a href="#"><i class="pe-so-facebook"></i></a></li>
                        <li><a href="#"><i class="pe-so-twitter"></i></a></li>
                        <li><a href="#"><i class="pe-so-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-box text-center">
                    <img src="images/team/team-2.jpg" class="img-responsive center-block img-circle">

                    <h4>Martha Davis</h4>
                    <p>Web Designer</p>
                    <ul class="list-inline footer-social-one team-member-social m-b-0">
                        <li><a href="#"><i class="pe-so-facebook"></i></a></li>
                        <li><a href="#"><i class="pe-so-twitter"></i></a></li>
                        <li><a href="#"><i class="pe-so-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-box text-center">
                    <img src="images/team/team-3.jpg" class="img-responsive center-block img-circle">

                    <h4>Henry Hope</h4>
                    <p>Manager</p>
                    <ul class="list-inline footer-social-one team-member-social m-b-0">
                        <li><a href="#"><i class="pe-so-facebook"></i></a></li>
                        <li><a href="#"><i class="pe-so-twitter"></i></a></li>
                        <li><a href="#"><i class="pe-so-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section> -->



<section class="section" id="faqs" style="border-bottom: 1px solid whitesmoke;">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title">FAQ</h2>
                <p class="title-alt">よくあるご質問</p>
                
                <div class="row text-left">
                    <div class="col-sm-6">
                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>サービス利用申し込み問い合わせ、事前に準備することはありますか？</h4>
                            <p><span><b>A. </b></span></p>
                            <ol>
                              <li>家具・家電・備品のご準備</li>
                              <p>基本的にはすべてお客様でご準備いただきます。＊ただし、プロジェクトマネジメントプランをご希望の方は弊社にて準備させていただきます。</p>
                              <li>All in BnBアカウント登録</li>
                              <p>
                                弊社担当より「アカウント設定方法」資料及び、All in BnBアカウント登録URLをお送りさせていただきます。設定手順にしたがて登録を行ってください。また、ご希望の方はお電話でのご案内もご利用いただけます。
                              </p>
                              <li>Airbnbなど宿泊予約サイトのアカウント登録</li>
                              <p>
                                弊社担当より「アカウント設定方法」資料をお送りさせていただきます。設定手順に従って登録を行ってください。登録の際は、必ずID認証（①パスポート、②Facebook or LinkedIn or Google）をお済ませください。
                              </p>
                            </ol>
                        </div>              
                    </div>

                    <div class="col-sm-6">
                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>約款や契約書はありますか？</h4>
                            <p><span><b>A. </b></span>約款や契約書は特にございません。All in BnBアカウント登録の際に、利用規約及びプライバシーポリシーがございあすので、そちらをご確認ください。</p>
                        </div>

                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>もし同じアカウントで複数物件を管理していたらどうすればいいのですか？</h4>
                            <p><span><b>A. </b></span>運用は、アカウント単位ではなくリスティング（物件）で行っています。複数の運用物件をお持ちで、そのうちの一部でAll in BnBサービスを受けられる場合には、サービス内で連携する物件を選択していただく必要がございます。</p>
                        </div>

                        <div class="question-box">
                            <h4><span class="text-colored">Q.</span>Airbnbなどホームシェア（民泊）サイトのアカウントログイン情報を共有する必要はありますか？</h4>
                            <p><span><b>A. </b></span>はい。お客様とAll in BnB双方で、お客様のアカウント情報を共有し運用する形になります。Airbnbなど宿泊予約サイトのアカウント管理にて、弊社で発行したメールアドレスを設定ください。また登録したパスワードを共有ください。</p>
                        </div>
                    </div>
                    
                </div>
            </div> <!-- end Col -->
        </div>

    </div>
</section>

<section class="section" id="presignup">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h1 class="title">事前登録</h1>
                <p class="title-alt">All in BnB のサービスの最新情報をすぐにお知らせいたします。</p>
                
                <iframe src="https://docs.google.com/forms/d/1ljEi_fvMzKzW-gE1tVgYR3EWtNiZiMlJ3xPSER3v340/viewform?embedded=true" width="760" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div> <!-- end Col -->
        </div>

    </div>
</section>