<!DOCTYPE html>
<html>
<head>
  <title>完全クラウド型物件システム | All in BnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>


</head>
<body data-spy="scroll" data-target="#menubar" style="padding-top: 80px;">
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top sticky bg-white shadow nav-alt">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= image_tag 'logo.png', class: 'logo' %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menubar">
              
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#home" class="scroll">ホーム</a></li>
                    <li><a href="#services" class="scroll">製品について</a></li>
                    <li><a href="#faqs" class="scroll">FAQ</a></li>
                    <li><a href="#presignup" class="scroll">事前登録する</a></li>
                    <li><a href="#team" class="scroll">お問い合わせ</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <%= yield %>


    
    <footer class="bg-dark footer-one">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 p-b-40">
                    <!-- <img src="images/logo_white.png" alt="logo" class="footer-logo" height="40">  -->
                    <p class="text-light about-text">私たち(VSbias)の経営理念は、リバタリアニズムを体現し、誰もが個人的な自由、経済的な自由の双方を享受できる社会の創出です。 一方で、"Noblesse oblige"(高貴さは義務を強制する)を倫理的に支持しており、"持つもの"が"持たざる者"へ自発的に貢献する尊さを啓発していきます。</p>
                </div>

                <div class="col-md-2 col-sm-6">
                    <h5>Company</h5>
                    <ul class="list-unstyled">
                        <li><a href="http://vsbias.fool.jp/">会社概要</a></li>
                        <li><a href="http://vsbias.fool.jp/#team">チーム</a></li>
                        <li><a href="http://vsbias.fool.jp/">採用情報</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-6 p-b-40">
                    <h5>Terms</h5>
                    <ul class="list-unstyled">
                        <li><a href="terms_and_conditions.html">利用規約</a></li>
                        <li><a href="privacy_policy.html">プライバシーポリシー</a></li>
                        <li><a href="/#faqs">よくあるご質問</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <div>
                        <h5>Media</h5>
                        <ul class="list-unstyled">
                            <li><a href="">エアリノベ</a></li>
                        </ul>
                    </div>
                </div>

            </div> <!-- end row -->
        </div>
        <!-- end container -->

        <div class="footer-one-alt">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="m-b-0 font-13 copyright">© 2016 VSBias</p>
                    </div>
                    <div class="col-sm-7">
                        <ul class="list-inline footer-social-one m-b-0 pull-right">
                            <li><a href="https://www.facebook.com/VSbias/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</body>
</html>
